# Virtual environment
.venv/
venv/
env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# VS Code settings
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Dataset cache
scikit_learn_data/